<div class="wrapper">
  <div class="header">
    <div class="header_left">
      <h1>食材一覧</h1>
    </div>
    <div class="header_right">
      <a href="/foodstuffs/new">食材を登録</a>
    </div>
  </div>
    <div class="main">
      <div class="form">
        <input type="search" placeholder="検索" class="form_input">
      </div>
      <div class="category_pull">
        <form action="" method="post">
        <fieldset>
          <input type="seach" list="category" placeholder="全カテゴリ" class="category_input">
          <datalist id="category">
            <% @categories.each do |category| %>
              <option value="<%= category.name %>">
            <% end %>
          </datalist>
        </fieldset>
        </form>
      </div>
    </div>
    <div class="inventory">
      <div class="inventory_header">
        <div class="cell col_1">商品ID</div>
        <div class="cell col_2">商品画像</div>
        <div class="cell col_3">カテゴリ</div>
        <div class="cell col_4">商品名</div>
        <div class="cell col_5">価格</div>
        <div class="cell col_6">在庫</div>
        <div class="cell col_7">内容量(kg)</div>
        <div class="cell col_8">最終更新日</div>
      </div>
      <%= form_with model:@foodstuffs, url: destroy_all_foodstuffs_path, local: true do |form| %>
      <% @foodstuffs.each_with_index do |foodstuff,index| %>
        <div class="inventory_list">
          <%= check_box_tag "deletes[#{ foodstuff.id }]", foodstuff.id%>
          <div class="vxe-cell vxe-col_1"><%= index + 1 %></div>
          <div class="vxe-cell vxe-col_2"><% if foodstuff.image.file.nil? %>
                                            <%= "Not images"  %>
                                          <% else %>
                                            <%= image_tag "#{foodstuff.image}" %>
                                          <% end %></div>
          <div class="vxe-cell vxe-col_3"><%= foodstuff.category.name %></div>
          <div class="vxe-cell vxe-col_4"><%= foodstuff.name %></div>
          <div class="vxe-cell vxe-col_5"><%= foodstuff.price %></div>
          <div class="vxe-cell vxe-col_6"><%= foodstuff.quantity %></div>
          <div class="vxe-cell vxe-col_7"><%= foodstuff.capacity %></div>
          <div class="vxe-cell vxe-col_8"><%= foodstuff.updated_at.strftime("%Y-%m-%d") %></div>
          <div class="vxe-col_9"><a class="fas fa-edit fa-lg" href="/foodstuffs/<%= foodstuff.id%>/edit"></a></div>
        </div>
      <% end %>
      <div class="delete">
        <%= form.submit '選択項目を削除', id:"delete_btn", class:"delete_btn"%>
      </div>
    </div>
  <% end %>
</div>